In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('./inputDataProcessed.csv')

df.describe()

In [9]:
df.describe()

,Store,Sales,Customers,Promo,SchoolHoliday,CompetitionDistance,DayOfWeek_0,DayOfWeek_1,DayOfWeek_2,DayOfWeek_3,DayOfWeek_4,DayOfWeek_5,DayOfWeek_6
count,11729.000000,11729.000000,11729.000000,11729.000000,11729.000000,11729.000000,11729.000000,11729.000000,11729.000000,11729.000000,11729.000000,11729.000000,11729.000000
mean,7.999915,6163.323472,731.306079,0.450081,0.197800,5823.814477,0.142212,0.143320,0.143405,0.143149,0.142808,0.142638,0.142467
std,4.319412,2399.510012,286.726340,0.497523,0.398358,9082.809657,0.349282,0.350414,0.350501,0.350240,0.349892,0.349718,0.349544
min,1.000000,612.000000,93.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,4430.000000,532.000000,0.000000,0.000000,620.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,8.000000,5734.000000,666.000000,0.000000,0.000000,1070.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,12.000000,7547.000000,877.000000,1.000000,0.000000,7520.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,15.000000,22822.000000,2849.000000,1.000000,1.000000,29910.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
df.columns

Index(['Store', 'Date', 'Sales', 'Customers', 'Promo', 'SchoolHoliday',
       'CompetitionDistance', 'DayOfWeek_0', 'DayOfWeek_1', 'DayOfWeek_2',
       'DayOfWeek_3', 'DayOfWeek_4', 'DayOfWeek_5', 'DayOfWeek_6'],
      dtype='object')

In [17]:
df1 = pd.read_csv('./data/data/train.csv')

C:\Users\trishala\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
df.columns

Index(['Store', 'Date', 'Sales', 'Customers', 'Promo', 'SchoolHoliday',
       'CompetitionDistance', 'DayOfWeek_0', 'DayOfWeek_1', 'DayOfWeek_2',
       'DayOfWeek_3', 'DayOfWeek_4', 'DayOfWeek_5', 'DayOfWeek_6'],
      dtype='object')